body {
  background-color: #faf5e6;
  opacity: 1;
  background-image: linear-gradient(0deg, #faf5e6 50%, #ff7f50 50%);
  background-size: 10px 10px;
  font-size: 120%;
  font-family: "Syncopate", sans-serif;
}

h2 {
  text-shadow: 3px 3px 4px;
}

.wrapper {
  background-color: #faf5e6;
  max-width: 1024px;
  margin: 0 auto;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
}

h2,
a,
h3 {
  color: coral;
}

h3 {
  color: coral;
}
header .brand {
  color: coral;
  font-family: "Syncopate", sans-serif;
  font-size: 1em;
  padding: 1em;
}

header .brand span {
  color: #ff7f50;
  font-family: "Syncopate", sans-serif;
  font-size: 0.9em;
  padding: 1em;
  text-shadow: 3px 3px 4px;
}

#hero {
  min-height: 400px;
  min-width: 100%;
  background: url(./img/last.try.png) no-repeat center;
  background-size: 100%;
}

#authors {
  font-size: 0.5em;
}

footer {
  text-align: center;
  padding: 1em;
  font-size: 0.9em;
  clear: both;
  color: coral;
}

main {
  overflow: hidden;
  display: flex;
  padding: 1.5em;
}

#blogContent {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: start;
}

#author {
  font-size: 0.5em;
}

#posts {
  max-width: 70%;
}

aside .section {
  background-color: #e0d0ad;
  padding: 0.9em;
  box-sizing: border-box;
}
